.container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.button {
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #2381CC;
  border-radius: 8px;
  background-color: #2381CC;
  color: white;
}
